namespace: "dev-analytics"
techStack: "nodejs"

deployment:
  enableRolloutAnnotations: true
  replicas: 1
  image:
    repositoryPrefix: "505630707203.dkr.ecr.eu-south-1.amazonaws.com"
    imagePullPolicy: Always
    tag: $IMAGE_TAG_PLACEHOLDER
    digest: $IMAGE_DIGEST_PLACEHOLDER
  resources:
    requests:
      cpu: "1"
      memory: "2Gi"
    limits:
      cpu: "1"
      memory: "2Gi"
  env:
    LOG_LEVEL: "info"

local:
  awsAccountId: "505630707203"
  env: "dev"

autoscaling:
  keda:
    create: true
    minReplicaCount: 0 # this must be 0 when using 'cron' trigger for uptime cost optimization
    maxReplicaCount: "{{.Values.deployment.replicas}}" # must be a string
    triggers:
    - type: cron
      metadata:
        timezone: Europe/Rome
        start: 0 8 * * 1-5
        end: 0 20 * * 1-5
        desiredReplicas: "{{.Values.deployment.replicas}}" # must be a string
